:root{

    --base-color:rgb(40, 165, 165);
    --row-style: rgb(75, 185, 185,0.2);
    --font: Arial;
    --update: rgb(51, 210, 51);
    --delete: rgb(255, 61, 61);
    --white: rgb(255,255,255);
    --option-color: rgb(22, 22, 22);
} 

.datatable{
    width:100%;
    display:flex;
    flex-direction:column;
    height:auto;
    font-family:var(--font);
    border: 1px solid var(--base-color);
}

.table-container{
    width:100%;
    overflow: auto;
}

table{
    border-collapse: collapse;
    width:100%;
}

.thead{
    background:var(--base-color);;
    color:var(--white);
    height: 2rem;
    text-align: left;
    border-bottom: 1px solid var(--base-color);
}

th{
    min-width: 6rem;
}

tr{
    min-height: 3rem;
}

td{
    min-width: 4rem;
}

td:first-child,
th:first-child{
    text-align:center;
}

td:last-child,
td a{
    display:flex;
    justify-content: center;
    align-items:center;
}

td a{
    text-decoration: none;
    border-radius: .5rem;
    height:2rem;
    width:2rem;
    background:var(--base-color);
    font-size:1rem;
    color:white;
}

td a:nth-child(1){
    background:var(--update);
}

td a:nth-child(2){
    background:var(--delete);
    margin-left:.2rem;
}

.tr-style{
    background: var(--row-style);
}

.pagination-container{
    overflow-x: auto;
}

.pagination{
    width:100%;
    font-family:var(--font);
    justify-content:flex-end;
}

.pagination,
.pagination a{
    display:flex;
    min-height: 2rem;
}

.pag-btn{
    justify-content:center;
    align-items:center;
    text-decoration: none;
    background: var(--base-color);
    color:var(--white);
    min-width:2rem;
}

.active-page{
    display:flex;
    background: white;
    color:var(--base-color);
}

.footer-table{
    height:2rem;
    display:grid;
    grid-template-columns: .5fr 3fr ;
    background:var(--base-color);
    border-top: 1px solid var(--base-color);
    border-bottom: 1px solid var(--base-color);
}

.select-container{
    width:100%;
    margin-left: .5rem;
    display:flex;
    align-items:center;
    font-size:.8rem;
    color:var(--white);
}

.perPage{
    display:flex;
    justify-self: left;
    width:2.5rem;
    outline: none;
    border:none;
    justify-content:center;
    margin: 0 .2rem;
   
}

.perPage option{
    background:var(--white); 
    color:var(--option-color);  
}

.total-items{
    text-align:center;
    width:calc(100% - .5rem);
    height: 2rem;
    font-size:.8rem;
    display:flex;
    justify-content: left;
    align-items: center;
    padding-left: .5rem;
}

.total-items span{
    font-weight:bold;
    margin-right:.2rem;
}