:root{
    --back: rgb(38, 66, 75);
    --header-table: rgb(255, 255, 0);
    --row-color: #fff;
    --update-btn:#3d9790;
    --delete-btn:#a34040;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.datatable-container{
    display:flex;
    align-items:center;
    max-width:100%;
    background:var(--back);
    flex-direction:column;
}

#datatable{
    margin:2rem 0;
    width:95%;
    overflow:auto;
    box-shadow: .5px .5px 15px .1px rgb(23, 26, 34);

}

#datatable table{
    width:100%;
    border-collapse: collapse;
    margin-bottom:.5rem;
    table-layout: fixed;
    
}

#datatable table tbody tr td{
    min-height:2.5rem;
}


#datatable table tbody tr td{
    align-items:center;
    background: var(--row-color);
    height:100%;
}


#datatable table thead{
    background:var(--header-table);
    color:var(--back);
}

#datatable table thead th{
    width:8rem;
    height:2rem;
}

#datatable table td a{
    display:flex;
    min-height:2rem;
    min-width:2rem;
    text-decoration:none;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
}
#datatable table td a:first-child{ 
    background:var(--update-btn);
    color: var(--row-color);
    margin-right:.2rem;
}

#datatable table td a:last-child{ 
    background:var(--delete-btn);
    color: var(--row-color);
}

#datatable table th:first-child{
    width:4.5rem;
}


#datatable table th:last-child{
    width:4.5rem;
}

#datatable table td:last-child{
    display:flex;
    justify-content: flex-start;
}


#datatable table td,
#datatable table th{
    text-align: center;
    word-wrap: break-word;
}

/* Pagination Number*/

.page-number{
    margin-bottom: 4rem;
}
.page-number ul{
    display:flex;
    background:rgb(255, 255, 255);
    border: solid 1px gray;
    padding:4px;
    border-radius: 45px;
    height:3rem;
    align-items: center;
}

.page-number ul li {
    list-style: none;
}



.page-number ul .index-page{
    border-radius:50%;
    width:1.5rem;
    height:1.5rem;
    display:flex;
    justify-content: center;
    align-items:center;
}

.preview, .next{
    width: 3rem;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;            
}

.dots{
    width:auto;
}

.index-page:hover,
.preview:hover,
.next:hover{
    background:var(--back);
    color:white;
    cursor:pointer;
}

.preview{
    border-radius: 25px 10px 10px 25px;
    margin-right:3px;
}

.next{
    border-radius: 10px 25px 25px 10px;
    margin-left:3px;
}

.active-page{
    background:var(--back);
    color:white;
}

